<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLSHortener</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Enter Link</label>
                      <input type="email" class="form-control" id="link" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">Enter the Link to be shortened</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">code</label>
                      <input type="text" class="form-control" id="code">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">use Custom Code</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <div class="mb-3">
                      <p>Generated ShortCode</p>
                      <input type="text" class="form-control" id="res" name="result" />
                  </div>

            </div>
        </div>
    </div>
</body>
</html>