<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URLSHortener</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <form id="form">
                    <div class="mb-3">
                      <label for="exampleInputlink1" class="form-label">Enter Link</label>
                      <input type="text" id="link" >
                      <div id="linkHelp" class="form-text">Enter the Link to be shortened</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputcode1" class="form-label">code</label>
                      <input type="text" class="form-control" id="code">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">use Custom Code</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <div class="mb-3">
                      <p>Generated ShortCode</p>
                      <input type="text" class="form-control" id="res" name="result" />
                  </div>

            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    
    var form =document.getElementById('form')
    form.addEventListener('submit',async (e)=>{
        e.preventDefault();
        var link=document.getElementById('link').value;
        var code=document.getElementById('code').value;
      var result=document.getElementById('res')
         var r=await axios.post('http://localhost:4445/api/links',data={
            link:link,code:code
        },(err,res)=>{
            if(err) throw err 
            else 
            return res;
         })
        //  const re=r.then(res=>res.data)
        result.value="http://localhost:4445/"+r.data;
    })
  


</script>



</html>